div.green{
    background-color: #2ecc71;
    border-radius: 6px;
}

div.yellow{
    background-color: #f1c40f;
    border-radius: 6px;
}

div.red{
    background-color: #e74c3c;
    border-radius: 6px;
}

